<div class="container">
  <h2>Create A New Contact For <%= @addressbook.owner %>'s Address Book</h2>


  <%= bootstrap_form_for [@addressbook, @contact] do |f| %>
    <div class="form-field form-group">
      <%= f.text_field :name, label: "Contact Name" %>
    </div>
    <div class="form-field form-group">
      <%= f.select(:relationship, options_for_select([["Personal"], ["Work"], ["Tinder"]]), label:"How Do You Know This Person") %>
    </div>
    <div class="form-field form-group">
      <%= f.text_field :phonenumber, label: "Phone Number" %>
    </div>
    <div class="form-field form-group">
      <%= f.submit %>
    </div>


  <% end %>
</div>
